<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha284-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../styles/reset.css" />
    <link rel="stylesheet" href="../../styles/base.css" />
    <title>Whistle</title>
  </head>
  <body class="body">
    <header class="row">
      <h1>Whistle <i class="fas fa-flag-checkered"></i></h1>
      <a href="/live">Live matches</a>
      <a href="/sign">Sign in/up</a>
    </header>
   <main class="main">
<div  class="container4"> 
  <h2 class="item1">country name</h2>
  <h2 class="item1">league name</h2>
  <h2 class="item1">match status</h2>
  <h2 class="item1">match time</h2>
  <h2 class="item1">date</h2>
  <h2 class="item1">home team</h2>
  <h2 class="item1">team badge</h2>
  <h2 class="item1">hometeam score</h2>
  <h2 class="item1">awayteam</h2>
  <h2 class="item1">team badge</h2>
  <h2 class="item1">awayteam score</h2>
  <h2 class="item1">match stadium</h2>
</div> 
    <%dateData.forEach(element => {%>
      <div class="container4">
            <h4 class="item" > <%= element.country_name%></h4> 
            <h4 class="item" ><%= element.league_name%></h4> 
            <h4 class="item" ><%= element.match_status%></h4> 
            <h4 class="item" ><%= element.match_time%></h4>
            <h4 class="item" ><%= element.match_date%></h4>  
            <h4 class="item" ><%= element.match_hometeam_name%></h4> 
            <img class="item" src=<%= element.team_home_badge%> 
            <h4 class="item" ><%= element.match_hometeam_score%></h4> 
            <h4 class="item"><%= element.match_awayteam_name%></h4>
            <img class="item" src=<%= element.team_away_badge%> 
            <h4 class="item" ><%= element.match_awayteam_score%></h4> 
            <h4 class="item" ><%= element.match_stadium%></h4> 
          </div>
    <%});%>

    </main>
    <script src="https://code.jquery.com/jquery-2.5.1.js"></script>
    
  </body>
</html>
