<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous" />
    <link
    href="https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,800&family=Josefin+Sans:wght@700&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="../../styles/reset.css" />
    <link rel="stylesheet" href="../../styles/base.css" />
    <link rel="stylesheet" href="../../styles/nav.css">

    <title>Live Matches</title>
  </head>
  <body>
    <%- include('../layout/header') %>
    <div class="h2hcontainer column">
      <div class="cente-tilte">
      <h2  id="afterRun">Team VS. Team</h2>
    </div>
      <div class="first-row row">
        <div class="details-card column">
          <div class="score row">
            <div class="live-match-image column">
              <img
                src="<%= badges.home_badge %> "
              />
              <small><%= badges.home_name %> </small>
            </div>
            <div class="time-score column">
              <p> VS </p>
            </div>
            <div class="live-match-image column">
              <img
                src="<%=badges.away_badge %> "
              />
              <small><%= badges.away_name %> </small>
            </div>
          </div>
        </div>
      </div>
      <div class="second-row row">
        <div class="matchs-details column">
          <%matchArray.forEach(match=>{ %>
              <div class="match-detail row">
                <p><%=match.league_name%></p>
                <p><%=match.match_date%></p>
                <a href="/team/<%= match.match_hometeam_id %>"><p><%=match.match_hometeam_name%></p></a>
                <p><%=match.score%></p>
                <a href="/team/<%= match.match_awayteam_id %>"> <p><%=match.match_awayteam_name%></p></a>
                <form
                class="row"
                action="/match_detail/<%= match.match_id %> "
                method="get"
              >
                <input type="submit" value="Get Match Details" />
              </form>
              </div>
         <% })%>
        </div>
      </div>
    </div>
  </body>
</html>
