<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../styles/reset.css" />
    <link rel="stylesheet" href="../../styles/base.css" />
    <title>Whistle</title>
  </head>
  <body>
    <header class="row">
      <h1>Whistle <i class="fas fa-flag-checkered"></i></h1>
      <a href="/live">Live matches</a>
      <a href="/sign">Sign in/up</a>
    </header>
    <main>
      <section id="firstSection">
        <!-- <div id="testDiv"></div> -->
        <img src="../../images/background2.jpg" alt="background_image" />
        <h2>Whistle <i class="fas fa-flag-checkered"></i></h2>
        <div id="aTags" class="row">
          <a href="#challenge">Challenge</a>
          <a href="#newsSection">News</a>
          <a href="#footballInfo"
            >Football <br />
            Information</a
          >
        </div>
      </section>
      <section id="newsSection" class="row">
        <div id="matches-container" class="column">
          <div id="match_head" class="row">
            <h2>Upcomming Matches</h2>
            <form class="row" action="/" method="GET">
              <select name="league_id" id="leagues-select">
                <option value="195">Bundesliga</option>
                <option value="148">Premier</option>
                <option value="468">LaLiga</option>
                <option value="262">Serie A</option>
                <option value="176">Ligue 1</option>
              </select>
              <input type="submit" value="Get result" />
            </form>
          </div>
          <% if(matches.length > 0){ %> <% matches.forEach(match=>{ %>
          <div class="match-content row">
            <div class="team-image column">
              <img src="<%= match.home_team_logo%>" alt="home_team" />
              <small><%= match.home_team %> </small>
            </div>
            <p><%= match.time %></p>
            <div class="team-image column">
              <img src="<%= match.away_team_logo%>" alt="away_team" />
              <small><%= match.away_team %> </small>
            </div>
          </div>
          <% }) %> <% }else{ %>
          <h3>There is No Mathces today for this league</h3>
          <% } %>
        </div>
        <div class="slide-show-container">
          <% news.forEach(item =>{ %>
          <div class="mySlides fade">
            <a href="<%= item.url %>" target="_blank">
              <img src="<%= item.image_url %>" alt=""
            /></a>
            <p class="text"><%= item.title%></p>
          </div>
          <% }) %>
          <a onclick="plusSlides(-1)" class="prev">&#10094;</a>
          <a onclick="plusSlides(1)" class="next">&#10095;</a>
        </div>
      </section>
      <section id="footballInfo">
        <h2>Football Information</h2>
        <h3>Topics</h3>
        <select name="searchTopic" id="searchTopic" onchange="showHiddenForm()">
          <option value="matchesResults">matches results</option>
          <option value="playersInfo">players info</option>
          <option value="matchesDate">matches date</option>
          <option value="bestPlayer">the best player</option>
          <option value="expectations">expectations</option>
          <option value="statistics">statistics</option>
        </select>
        <form action="" class="hidden-form" id="matchesResults"></form>
        <form action="" class="hidden-form" id="playersInfo"></form>
        <form action="" class="hidden-form" id="matchesDate"></form>
        <form action="" class="hidden-form" id="expectations"></form>
        <form action="" class="hidden-form" id="statistics"></form>
      </section>
      <section id="challenge">
        <h2>Challenge yourself</h2>
        <form action="/question" method="get">
          <label for="question">Number Of Questions</label>
          <input type="number" name="question" id="question" />
          <select name="diffculty" id="diffculty">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
          </select>
          <input type="submit" value="Submit" />
        </form>
      </section>
    </main>
    <script src="../../js/app.js"></script>
  </body>
</html>
