<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,800&family=Josefin+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../styles/reset.css" />
    <link rel="stylesheet" href="../../styles/homePage.css" />
    <link rel="stylesheet" href="../../styles/nav.css" />
    <title>Whistle</title>
  </head>

  <body>
    <%- include('../layout/indexheader') %>
    <main>
      <section id="firstSection">
        <!-- <div id="testDiv"></div> -->
        <img src="../../images/vid.gif" alt="background_image" />
        <h2>Whistle <i class="fas fa-flag-checkered"></i></h2>
        <p>
          Love Football? WELCOME<a id="user-name-database" href="/userPage"
            ><% if(user){ %> <%= user.username.split("@")[0] %> <%}else{ %> <%}
            %>
          </a>
          to the CLUB!!
        </p>
      </section>

      <section id="footballInfo">
        <div>
          <img class="run" src="/images/football22.png" alt="" />
          <h2 id="afterRun">Football Information</h2>
          <img class="run" src="/images/football22.png" alt="" />
        </div>
        <div id="searchTopicDiv">
          <p id="topicP">
            As it is important to be updated with football information .. all
            you need is to pick the topic from here!
          </p>
          <br />
          <label id="search">Search by topic</label>
          <select
            name="searchTopic"
            id="searchTopic"
            onchange="showHiddenForm()"
          >
            <option value="SearchTopic">
              ---------------Choose-----------
            </option>
            <option value="matchesResults">Matches Results</option>
            <option value="playersInfo">Search for your player</option>
            <option value="matchesDate">Search due to Date</option>
            <option value="bestPlayer">Top scored player</option>
          </select>
        </div>


        <div id="hideMe">
          <form action="/h2h" class="hidden-form" id="matchesResults">
            <input
              name="match_hometeam_name"
              required
              type="text"
              id="frstTeam"
              placeholder="Enter The First Team Name"
            />
            <label>VS.</label>
            <input
              name="match_awayteam_name"
              required
              type="text"
              id="secondTeam"
              placeholder="Enter The Second Team Name"
            />
            <input class="submitt" type="submit" value="submit" />
          </form>
        </div>

        <div>
          <form action="/player" class="hidden-form" id="playersInfo">
            <label>Enter the player name</label>
            <input required type="text" name="player_name" id="player_name" />
            <input class="submitt" type="submit" value="submit" />
          </form>
        </div>

        <div id="hideMe">
          <form action="/events" class="hidden-form" id="matchesDate">
            <label>display the matches from date </label>
            <input required type="date" name="fromDate" id="date1" />
            <label> to </label>
            <input required type="date" name="toDate" id="date2" />
            <input class="submitt" type="submit" value="submit" />
          </form>
        </div>

        <div id="hideMe">
          <form action="/bestOf" class="hidden-form" id="bestPlayer">
            <select name="leagueName" id="leagueName">
              <option selected="selected" value="leagueName">
                League Name
              </option>
              <!-- <option value="589">Champions league</option> -->
              <option value="148">Premier League</option>
              <option value="262">Serie A</option>
              <option value="468">LaLiga</option>
              <option value="195">Bundesliga</option>
              <option value="176">Ligue 1</option>
            </select>
            <input class="submitt" type="submit" value="submit" />
          </form>
        </div>
        <div id="line"></div>
      </section>

      <section id="newsSection" class="row">
        <div id="running">
          <img class="run" src="/images/football22.png" alt="" />
          <h2 id="afterRun">Today's News</h2>
          <img class="run" src="/images/football22.png" alt="" />
        </div>
        <div class="slide-show-container">
          <% news.forEach(item =>{ %>
          <div class="mySlides fade">
            <a href="<%= item.url %>" target="_blank">
              <img src="<%= item.image_url %>" alt=""
            /></a>
            <p class="text"><%= item.title%></p>
          </div>
          <% }) %>
          <a onclick="plusSlides(-1)" class="prev">&#10094;</a>
          <a onclick="plusSlides(1)" class="next">&#10095;</a>
        </div>
      </section>

      <div id="matches-container">
        <div>
          <img class="run" src="/images/football22.png" alt="" />
          <h2 id="afterRun">Upcomming Matches</h2>
          <img class="run" src="/images/football22.png" alt="" />
        </div>
        <form class="row" action="/" method="GET">
          <select selected="selected" name="league_id" id="leagues-select">
            <option value="195">Bundesliga</option>
            <option value="148">Premier</option>
            <option value="468">LaLiga</option>
            <option value="262">Serie A</option>
            <option value="176">Ligue 1</option>
          </select>
          <input class="submitt" type="submit" value="Get result" />
        </form>
        <% if(matches.length > 0){ %> <% matches.forEach(match=>{ %>
        <div class="match-content">
          <div class="team-image">
            <a href="/team/<%= match.match_hometeam_id %>">
            <img src="<%= match.home_team_logo%>" alt="home_team" />
            <strong><%= match.home_team %> </strong></a>
          </div>
          <div class="team-image">
            <strong>match time</strong>
            <strong class="team-image"><%= match.time %></strong>
            <form action="/addToFav/<%= match.match_id %>" method="GET">
              <input type="submit" value="Add To Fav" />
            </form>
          </div>
          <div class="team-image">
            <a href="/team/<%= match.match_awayteam_id %>">
            <img src="<%= match.away_team_logo%>" alt="away_team" />
            <strong><%= match.away_team %> </strong></a>
          </div>
        </div>
        <% }) %> <% }else{ %>
        <p id="noMatches">There is No Mathces today for this league</p>
        <% } %>
        <div id="line"></div>
      </div>
      <section id="challenge">
        <div>
          <img class="run" src="/images/football22.png" alt="" />
          <h2 id="afterRun">Challenge yourself</h2>
          <img class="run" src="/images/football22.png" alt="" />
        </div>
        <form action="/question" method="get">
          <label for="question">Number Of Questions</label>
          <input
            required
            type="number"
            name="question"
            id="question"
            value="5"
            min="5"
            max="10"
          />
          <select required name="diffculty" id="diffculty">
            <option selected="selected" value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
          </select>
          <input class="submitt" type="submit" value="Submit" />
        </form>
      </section>
    </main>
    <footer>
      <div>Copyright &copy; 2020 All Rights Reserved by TopDots Team</div>
    </footer>
    <script src="../../js/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script>
      let selectArray = [
        'matchesResults',
        'playersInfo',
        'matchesDate',
        'bestPlayer',
      ];
      selectArray.forEach((element) => {
        $(`#${element}`).hide();
      });
      function showHiddenForm() {
        selectArray.forEach((element) => {
          if ($('#searchTopic').val() === element) {
            $(`#${element}`).toggle();
          } else {
            $(`#${element}`).hide();
          }
        });
      }

      // show sign in
      $('#hideSign').hide();
      function showSignin() {
        $('#hideSign').toggle();
      }
    </script>
  </body>
</html>
