<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous" />
  <link
    href="https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,800&family=Josefin+Sans:wght@700&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="../../styles/reset.css" />
    <link rel="stylesheet" href="../../styles/base.css" />
    <link rel="stylesheet" href="../../styles/nav.css">

    <title>Whistle</title>
  </head>
  <body class="body">
    <%- include('../layout/header') %>
    <div class="cente-tilte">
      <h2  id="afterRun">Player Details</h2>
    </div>
    <div class="table-container column">
      <div class="table-details1">
        <table>
          <thead>
            <th>Player Name</th>
            <th>Player Number</th>
            <th>Player Country</th>
            <th>Player Type</th>
            <th>Player Age</th>
            <th>Player Match Played</th>
            <th>Player Goals</th>
            <th>Player Yallow Cards</th>
            <th>Player Red Cards</th>
            <th>Team Name</th>
          </thead>
          <tbody>
            <%playerData.forEach((element, index) =>{ %>
            <tr>
              <td><%= element.player_name %></td>
              <td><%= element.player_number %></td>
              <td><%= element.player_country %></td>
              <td><%= element.player_type %></td>
              <td><%= element.player_age %></td>
              <td><%= element.player_match_played %></td>
              <td><%= element.player_goals %></td>
              <td><%= element.player_yellow_cards %></td>
              <td><%= element.player_red_cards%></td>
              <td><%= element.team_name %></td>
            </tr>
            <% })%>
          </tbody>
        </table>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.5.1.js"></script>
  </body>
</html>