<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous" />
  <link
    href="https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,800&family=Josefin+Sans:wght@700&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="../../styles/reset.css" />
    <link rel="stylesheet" href="../../styles/base.css" />
    <link rel="stylesheet" href="../../styles/nav.css">

    <title>Live Matches</title>
  </head>

  <body>
 <%- include('../layout/header') %>
       <div class="container-question column">
      <form id="quies-form" class="column" action="/answers" method="GET">
        <% questions.forEach((item , index) =>{ %>
        <div class="question column">
          <h3><%= item.question %></h3>
          <p hidden><%=item.correct_answer%></p>
          <div class="choises row">
            <div class="option column">
              <div class="row form_content">
                <input
                  id="answer1"
                  name="<%=index%>"
                  type="radio"
                  value="<%=item.answers[0]%>"
                />
                <label for="<%=index%>"><%=item.answers[0]%></label>
              </div>
              <div class="row form_content">
                <input
                  id="answer2"
                  name="<%=index%>"
                  type="radio"
                  value="<%=item.answers[1]%>"
                />
                <label for="<%=index%>"><%=item.answers[1]%></label>
              </div>

            </div>

            <div class="option column">
              <div class="row form_content">
                <input
                  id="answer3"
                  name="<%=index%>"
                  type="radio"
                  value="<%=item.answers[2]%>"
                />
                <label for="<%=index%>"><%=item.answers[2]%></label>
              </div>
              <div class="row form_content">
                <input
                  id="answer4"
                  name="<%=index%>"
                  type="radio"
                  value="<%=item.answers[3]%>"
                />
                <label for="<%=index%>"><%=item.answers[3]%></label>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
        <input type="submit" value="submit" />
      </form>
    </div>
    <div class="popup-container" id="popup-container">
      <div class="popup">
        <h2 id="final-message"></h2>
        <button id="play-button">Close</button>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script>
      let popUp = $('#popup-container');

      $('#play-button').click(() => {
        popUp.css('display', 'none');
      });

      $('#quies-form').submit((event) => {
        // event.preventDefault();
        let userAnswerArray = $('input:radio');
        var checkedAnswer = userAnswerArray.toArray().filter((item) => {
          if (item.checked) {
            return item;
          }
        });
        let correct = $('p')
          .toArray()
          .map((item) => {
            return item.textContent;
          });
        let counter = 0;
        let asnwers = checkedAnswer.map((item) => {
          return item.attributes.value.textContent;
        });
        correct.forEach((item, index) => {
          if (item === asnwers[index]) {
            counter++;
          }
        });
        console.log(counter);
        $('#final-message').text(
          `Your Score is ${counter} / ${asnwers.length} \n You Score has been Saved`
        );
        popUp.css('display', 'flex');
      });
    </script>
  </body>
</html>
