<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha284-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../styles/reset.css" />
    <link rel="stylesheet" href="../../styles/base.css" />
    <title>Whistle</title>
  </head>
  <body class="body">
    <header class="row">
      <a href="/"> <h1>Whistle <i class="fas fa-flag-checkered"></i></h1></a>
      <a href="/live">Live matches</a>
      <a href="/sign">Sign in/up</a>
    </header>
    <div class="table-container column">
      <div class="table-details">
        <table>
          <thead>
            <th>Player Name</th>
            <th>Player Number</th>
            <th>Player Country</th>
            <th>Team Name</th>
            <th>Team Badge</th>
            <th>Type</th>
            <th>Age</th>
            <th>Match Played</th>
            <th>Goals</th>
          </thead>
          <tbody>
            <%TopPlayerData.forEach(element=>{ %>
            <tr>
              <td><%= element.player_name %></td>
              <td><%= element.player_number %></td>
              <td><%= element.player_country %></td>
              <td><%= element.team_name %></td>
              <td><img src="<%= element.team_badge%>"/></td>
              <td><%= element.player_type %></td>
              <td><%= element.player_age %></td>
              <td><%= element.player_match_played %></td>
              <td><%= element.player_goals %></td>
            </tr>
            <% })%>
          </tbody>
        </table>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.5.1.js"></script>
    
  </body>
</html>