<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,800&family=Josefin+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../styles/reset.css" />
    <link rel="stylesheet" href="../../styles/base.css" />
    <link rel="stylesheet" href="../../styles/nav.css" />
    <title>User Fav</title>
  </head>
  <body>
    <form action="">
      <input id="userID" type="hidden" value="<%= userID %>" />
      <input id="fName" type="hidden" value="<%= userInfo.first_name %>" />
      <input id="lName" type="hidden" value="<%= userInfo.last_name %>" />
      <input id="email" type="hidden" value="<%= userInfo.email %>" />
      <input id="gender" type="hidden" value="<%= userInfo.gender %>" />
      <input
        id="phone_number"
        type="hidden"
        value="<%= userInfo.phone_number %>
      "
      />
    </form>
    <header class="navs">
      <article class="headerContainer">
        <div id="item1Header">
          <!-- <h>  Whistle <i class="fas fa-flag-checkered"></i></a> -->
          <a href="/">Whistle <i class="fas fa-flag-checkered"></i></a>
        </div>
        <div id="item2Header">
          <a href="/live">Todays Matches</a>
          <a href="#challenge">Challenge</a>
          <a href="#newsSection">News</a>
          <a href="#footballInfo">Football Info</a>
          <a href="/signout"
            ><i onclick="showSignin()" style="font-size: 24px" class="fas"
              >&#xf406;</i
            ><br />
            Sign Out
          </a>
        </div>
      </article>
    </header>
    <div class="container row">
      <div class="cente-tilte">
        <h2 id="afterRun">Favorite Match</h2>
      </div>
      <!-- Main Section -->
      <div class="main-aside-container row">
        <main id="main" class="column">
          <button id="user-info">Personal Info</button>
          <button id="password">Update Password</button>
          <% if(matchesIds){ %>
          <input id="ids" type="hidden" value="<%= matchesIds %> " />
          <% }else{%>
          <input type="hidden" value="" />
          <%} %>
          <button id="favMatchesForm">Your Matches</button>
        </main>
        <!-- This Content will change -->
        <aside id="aside" class="column">
          <h2 class="user-title">Basic Information</h2>
          <div class="update-form-container row">
            <form
              action="/changePersonalInfo/<%= userID %>?_method=put"
              class="column"
              method="post"
            >
              <div class="form-content row">
                <label for="name">First Name</label>
                <input type="text" name="first_name" />
              </div>
              <div class="form-content row">
                <label for="name">Last Name</label>
                <input type="text" name="last_name" />
              </div>
              <div class="form-content row">
                <label for="email">Email</label>
                <input type="text" name="email" />
              </div>
              <div class="form-content row">
                <label for="gender">Gender</label>
                <div class="form-content-inside row">
                  <input type="radio" name="gender" value="Male" />
                  <p>Male</p>
                </div>
                <div class="form-content-inside row">
                  <input type="radio" name="gender" value="Female" />
                  <p>Female</p>
                </div>
              </div>
              <div class="form-content row">
                <label for="phone">Phone Number</label>
                <input type="text" name="phone_number" />
              </div>
              <input type="submit" value="Update" />
            </form>
          </div>
        </aside>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../js/user.js"></script>
  </body>
</html>
