<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,800&family=Josefin+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../styles/reset.css" />
    <link rel="stylesheet" href="../../styles/base.css" />
    <link rel="stylesheet" href="../../styles/nav.css" />
    <title>User Fav</title>
  </head>
  <body>
    <%- include('../layout/header') %>
    <div class="container row">
      <div class="cente-tilte">
        <h2 id="afterRun">Favorite Match</h2>
      </div>
      <div id="live-match" class="live-match-content column">
        <h2><%= matchArray.league_name %></h2>
        <img
          src="<%= matchArray.league_logo %> "
          alt="<%- matchArray.league_name %> "
        />
        <p>Match time: <%= matchArray.match_time%></p>
        <div class="score row">
          <div class="live-match-image column">
            <img
              src="<%= matchArray.team_home_badge %> "
              alt="<%= matchArray.match_hometeam_name %> "
            />
            <small><%= matchArray.match_hometeam_name %> </small>
          </div>
          <div class="time-score column">
            <p><%=matchArray.match_status%>`</p>
            <p><%= matchArray.score %></p>
          </div>
          <div class="live-match-image column">
            <img
              src="<%= matchArray.team_away_badge %> "
              alt="<%= matchArray.match_awayteam_name %> "
            />
            <small><%= matchArray.match_awayteam_name %> </small>
          </div>
        </div>
        <form
          class="row"
          action="/match_detail/<%= matchArray.match_id %> "
          method="get"
        >
          <input type="submit" value="Get Match Details" />
        </form>
        <form
          class="row"
          action="/match_delete/<%= matchArray.match_id %>?_method=delete"
          method="POST"
        >
          <input type="submit" value="Delete Match" />
        </form>
      </div>
    </div>
  </body>
</html>
